@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* Eliminamos Arial para que Tailwind pueda usar sus fuentes */
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Añade esto para asegurarte de que el modelo de caja no mienta */
* {
  box-sizing: border-box;
}

/* Este estilo se aplicará SOLO cuando pases el mouse */
.boton-historia-hover:hover {
  background-color: #f59e0b !important; /* Ámbar-500 */
  color: white !important;
  transform: translateY(-2px); /* Un pequeño salto hacia arriba */
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2) !important;
}